body{
    background-color: #0aa822;
    font-family: Arial, sans-serif;
}
.heading{
    color: #333;
    background-color: red;
}
p {
    background-color: white;
    color: #666;
    font-size: 18px;
    
}
#myId {
    background-color: blue;
    color:white;
    cursor: pointer;
    color: hbhdhud;
    marign: 10px;

}